<!DOCTYPE html>
<html>
<head>
    <title>Client Data</title>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>
<body>
    <h1>Client Data</h1>
    <form action="{{ url_for('add_data.add_data') }}" method="post" onsubmit="return showSuccessAlert();">
        <label for="add_client">Client:</label>
        <input type="text" id="add_client" name="client" required><br>
        
        <label for="add_agency">Agency:</label>
        <input type="text" id="add_agency" name="agency" required><br>
        
        <label for="add_location">Location:</label>
        <input type="text" id="add_location" name="location"><br>
        
        <label for="department">Department:</label>
        <input type="radio" name="department" id="rize" value="rize" required> Rize
        <input type="radio" name="department" id="grade-us" value="grade-us" required> Grade.us
        <input type="radio" name="department" id="white-label" value="white-label" required> White Label<br>
        
        <label for="status">Status:</label>
        <input type="radio" name="status" id="trial" value="trial" required> Trial
        <input type="radio" name="status" id="active" value="active" required> Active<br>
        
        <button type="submit">Add Data</button>
    </form>

    <form action="{{ url_for('delete_data.delete_data') }}" method="post" onsubmit="return showDeleteAlert();">
        <!-- Add input fields for Client, Agency, and Location as needed -->
        <label for="delete_client">Client:</label>
        <input type="text" id="delete_client" name="client">
        
        <label for="delete_agency">Agency:</label>
        <input type="text" id="delete_agency" name="agency">
        
        <label for="delete_location">Location:</label>
        <input type="text" id="delete_location" name="location">
    
        <button type="submit">Delete Data</button>
    </form>    
    
    <p>Total Clients: {{ counts.client_count }}</p>
    <p>Total Agencies: {{ counts.agency_count }}</p>
    <p>Total Locations: {{ counts.location_count }}</p>

    <!-- Form for retrieving data -->
    <form onsubmit="return false;">
        <label for="retrieve_client">Client:</label>
        <input type="text" id="retrieve_client" name="client">
        
        <label for="retrieve_agency">Agency:</label>
        <input type="text" id="retrieve_agency" name="agency">
        
        <label for="retrieve_location">Location:</label>
        <input type="text" id="retrieve_location" name="location">
    
        <button type="button" onclick="retrieveData()">Retrieve Data</button>
    </form>    

    <!-- Display retrieved data here -->
    <h2>Retrieved Data</h2>
    <table>
        <thead>
            <tr>
                <th>Client</th>
                <th>Agency</th>
                <th>Location</th>
                <th>Department</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

</body>
</html>
